*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #080808;
    color: #FFF;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    width: 600px;
    height: auto;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 35px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 5%;
    font-size: 32px;
    padding-left: 30px;
}

.header-text h1 {
    font-size: 65px;
    margin-top: 25px;
}

.header-text h1 span{
    color: #ff0000;
}

.circular-border {
    position: fixed;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(0, -50%); /* Vendor prefix for Safari */
    -ms-transform: translate(0, -50%); /* Vendor prefix for Internet Explorer */
    transform: translate(0, -50%);
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    -webkit-transition: border-width 0.3s, border-color 0.3s; /* Vendor prefix for Webkit browsers */
    transition: border-width 0.3s, border-color 0.3s;
  }

.circular-border:hover {
    border-width: 6px; /* Increase border width on hover */
    border-color: red; /* Change border color to red on hover */
}
  
.circular-border img {
width: 100%;
height: 100%;
object-fit: cover;
}
